body {
  display: flex;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 0;
}

.flame {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  height: 100vh;
  width: 800px;

  border-width: 5px;
  border-color: lightskyblue;
  border-style: double;
  box-sizing: border-box;
}

.flame>div {
  height: 100%;

  border-width: 5px;
  border-color: aliceblue;
  border-style: solid;
  box-sizing: border-box;
}

.left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 40%;
}

.right {
  width: 60%;
}

.head {
  height: 40px;
  width: 100%;

  border-width: 0 0 5px 0;
  border-color: aqua;
  border-style: solid;

  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.action {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  width: 90%;
  min-height: 50px;

  border-radius: 25px;
  background-color: lightblue;

  margin: 5px 0;
}

.search-box {
  width: 70%;
}

.note-area {
  margin: 20px;
}

.note-text {
  width: 100%;
  height: 5lh;

  resize: none;
}

.note-attachment {
  background-color: gray;
}

.note-preview {
  height: 80px;
}